@import "./util_variable.scss";

.App-About {
  padding: $l-spacing $m-spacing;

  @include breakpoint($breakpoint-m) {
    padding-top: 0;
  }

  height: 100%;

  .avatar {
    width: 300px;
    border-radius: 50%;
  }
}