// @import "./index.scss";
@import "./util_variable.scss";

$sidebar-width-container: 20%;

.App {
  display: flex;
  height: 100vh;

  &-sidebar-container {
    flex: 1;
    display: none;
    overflow: hidden;
    flex-direction: column;

    height: 100vh;
    min-width: $sidebar-width-container;
    max-width: $sidebar-width-container;
    transition: $transition;

    @include breakpoint($breakpoint-l, "max") {
      @include appzindex("large");
      left: -100%;
      display: flex;
      position: absolute;
      min-width: 50%;
      max-width: 50%;
    }

    &.active {
      left: 0;
    }
  }

  &-main-content-container {
    flex: 5;
    overflow: scroll;
  }

  .menu-button {
    right: 0;
    position: absolute;
    @include appzindex("large");
  }
}