@import "./index.scss";
@import "./util_variable.scss";

$sidebar-width-container: 20%;

.App {
  display: flex;
  height: 100vh;

  &-sidebar-container {
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-width: $sidebar-width-container;
    max-width: $sidebar-width-container;
  }

  &-main-content-container {
    flex: 5;
    overflow: scroll;
  }
}