.App-BlogPage {
  .back-button {
    @include appzindex("max");
    position: fixed;
    top: 0;
  }

  .blog-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: $l-spacing;

    .blog-title {
      padding: 0 $m-spacing;
    }
  }
}