@import "./util_variable.scss";

.App-BlogPage {
  .back-button {
    position: absolute;
    top: 0;
  }

  .blog-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: $l-spacing;

    h2 {
      text-align: center;
      padding: $xs-spacing;
    }
  }
}