@import "./util_variable.scss";

.App-ButtonIcon, .App-ButtonIcon.primary, .App-ButtonIcon.danger {
  border: 1px solid $lightblue;
  transition: $transition;
  line-height: 1.55;
  padding: 6px 12px;
  font-size: 20px;

  &:hover {
    background-color: $blue;
    border-color: $blue;

    .icon {
      color: $white;
    }

    .text {
      color: $white;
    }
  }

  .icon {
    color: $blue;
    vertical-align: middle;
  }

  .text {
    margin-left: $xs-spacing;
    font-weight: bold;
    color: $blue;
  }
}

.App-ButtonIcon.borderless {
  border: none;
  background: transparent;

  &-danger {
    border: none;
    background: transparent;

    .icon {
      color: $lightred;

      &:hover {
        color: $red;
      }
    }
  }
  
  .icon {
    color: $lightblue;

    &:hover {
      color: $blue;
    }
  }
}

.App-ButtonIcon.primary, .App-ButtonIcon.danger {
  border: 1px solid $lightblue;
  background-color: $lightblue;

  .icon {
    color: $white;
  }

  .text {
    color: $white;
  }
}

.App-ButtonIcon.danger {
  border: 1px solid $lightred;
  background-color: $lightred;

  &:hover {
    background-color: $red;
    border-color: $red;
  }
}