.App-Carousel {
  width: 100%;

  &-container {
    flex-direction: column;

    .black-button {
      color: $black;
    }
  }

  &-pagination {
    justify-content: space-between;
    background-color: $light-grey;
    border-radius: $m-spacing;
    border: 1px solid $black;
    width: 300px;
  }

  &-list {
    width: 750px;
    height: 700px;
    margin: 0;

    &-item {
      position: absolute;
      visibility: hidden;
      width: 0;
  
      &.current {
        @include appzindex("small");
  
        background: $white;
        visibility: initial;
        width: 600px;
        height: 600px;
        animation: slideInLeftCarousel 0.5s;

        &.reverse {
          animation: slideInRightCarousel 0.5s;
        }
        
      }
  
      &.last {
        visibility: initial;
        width: 0;
        height: 0;
        
        @include breakpoint($breakpoint-s) {
          transition: width 1s, height 1s;
          animation: slideOutRightCarousel 0.5s;
          
          &.reverse {
            animation: slideOutLeftCarousel 0.5s;
          }
        }
        
        @include breakpoint($breakpoint-s, "max") {
          display: none;
        }
      }
    }
  }
}

.isMobile {
  width: 100%;

  .App-Carousel {

    &-list {
      width: 100%;
      height: 410px;

      &-item {
        &.current {
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}