@import "./util_variable.scss";

.App-ExternalLinks {
  display: flex;
  flex-wrap: wrap;
  margin-top: $m-spacing;

  .external-link {
    border: $border;
    text-align: center;
    color: $black;
    margin: 0 $s-spacing $m-spacing 0;

    &.sidebar {
      @include circle(40px);
      line-height: 40px;
    }

    &.getintouch {
      @include circle(70px);
      line-height: 85px;
    }

    &:hover {
      color: $blue;
      border-color: $blue;
    }
  }

  &.sidebar {
    .external-link {
      color: $grey;
      border-color: $grey;
    }
  }
}