@import "./util_variable.scss";
@import "./normalize.scss";
@import "./About.scss";
@import "./App.scss";
@import "./Blog.scss";
@import "./BlogCard.scss";
@import "./BlogPage.scss";
@import "./ButtonIcon.scss";
@import "./ExternalLinks.scss";
@import "./GetInTouch.scss";
@import "./Portfolio.scss";
@import "./HtmlParser.scss";
@import "./MarkdownForm.scss";
@import "./MenuButton.scss";
@import "./Modal.scss";
@import "./Particles.scss";
@import "./PortfolioCard.scss";
@import "./SideBar.scss";

body {
	@include breakpoint($breakpoint-m) {
		font-size: 16px;
	}

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	line-height: 1.55;
	font-size: 14px;
	background-color: #f4f4f4;
	color: $black;
}

textarea:focus, input:focus {
	outline: none;
}

a {
	text-decoration: none
}

input, textarea {
	height: 40px;
	border: $border;
	border-radius: $s-radius;
	padding: 0px $s-spacing;
}

textarea {
	padding: $s-spacing;
}

button, a {
	cursor: pointer;
	outline: 0;
	border: none;
	background: none;
}