@import "./util_variable.scss";
@import "./normalize.scss";

body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	line-height: 1.55;
	background-color: #f4f4f4;
	overflow-x: hidden;
}

textarea:focus, input:focus {
	outline: none;
}

a {
	text-decoration: none
}

p {
	color: $grey;
}

input, textarea {
	height: 40px;
	border: $border;
	border-radius: $s-radius;
	padding: 0px $s-spacing;
}

textarea {
	padding: $s-spacing;
}

button, a {
	cursor: pointer;
	outline: 0;
}