@import "./util_variable.scss";

.App-LandingPage {
  // background-color: $black;
  // background: linear-gradient(135deg, rgb(96, 108, 136) 0%, rgb(63, 76, 107) 100%);
  height: 100vh;

  .tilt {
    @include appzindex("negative");
    display: inline-block;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);

    transform: skewY(-12deg);
    transform-origin: 0;
    margin-top: -4px;
  }

  .button-slanted {
    @include appzindex("medium");
    position: absolute;
    display: inline-block;
    transform: skewY(-12deg);

    background-color: $grey;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 10px;

    &.Portfolio {
      top: 30%;
      left: 30%;
    }

    &.Blog {
      top: 50%;
      left: 50%;
    }

    &.About {
      bottom: 20%;
      left: 60%;
    }

    &.Get-in-touch {
      top: 40%;
      left: 70%;
    }
  }
}
