@import "./util_variable.scss";

.App-LandingPage {
  height: 100vh;

  .tilt {
    display: inline-block;
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to right, rgba(168, 202, 186, 0), rgb(93,65,87));

    transform: skewY(-12deg);
    transform-origin: 0;
    margin-top: -4px;
    overflow: hidden;
    transition: $transition;

    &.last-item {
      height: 100%;
    }

    &-img {
      left: -200%;
      position: absolute;
      transition: $transition;
      opacity: 0.5;
      width: 100%;

      &.Contact {
        width: initial;
      }
    }

    &-title {
      @include appzindex("medium");
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $black;
      
      font-size: 23vh;
      text-transform: uppercase;
      background: none !important;
      border: none;
    }

    &:hover {
      .tilt-img {
        left: 0;
      }

      .tilt-title {
        transition: color 1s ease;
        color: $white;
      }
    }

    &.content:hover {
      height: 50vh;
    }

  }

  // .button-slanted {
  //   @include appzindex("medium");
  //   position: absolute;
  //   display: inline-block;
  //   transform: skewY(-12deg);

  //   background-color: $grey;
  //   text-align: center;
  //   text-transform: uppercase;
  //   padding: 5px 10px;
  //   margin: 10px;

  //   &.Portfolio {
  //     top: 30%;
  //     left: 30%;
  //   }

  //   &.Blog {
  //     top: 50%;
  //     left: 50%;
  //   }

  //   &.About {
  //     bottom: 20%;
  //     left: 60%;
  //   }

  //   &.Get-in-touch {
  //     top: 40%;
  //     left: 70%;
  //   }
  // }
}
