.App-Portfolio {
  &-header {
    position: absolute;
    top: 0;
    @include appzindex("small");
  }
  
  @include breakpoint($breakpoint-m, "max") {
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      padding-top: $l-spacing;
    }
  }
}