@import "./util_variable.scss";

.App-Portfolio {
  &-header {
    position: absolute;
    top: 0;
    @include appzindex("small");
  }
  
  @include breakpoint($breakpoint-m, "max") {
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}