.App-StarRating {
  display: inline-flex;
  padding: 0 0 0 $s-spacing;

  &-star {
    width: 18px;
    visibility: hidden;
    padding-right: $xs-spacing;
    color: $lightpurple;

    &.visible {
      visibility: visible;
    }

    &.bounce {
      animation: ease 0.5s 1 stretchBounce forwards;
    }
  }
}
