$grey: #999999;
$black: #555555;
$jetblack: #000000;
$lightblue: #597ef7;
$blue: #1d39c4;
$white: #fff;
$lightred: #ff4d4f;
$red: #cf1322;

$xs-spacing: 5px;
$s-spacing: 10px;
$m-spacing: 20px;
$l-spacing: 30px;
$xl-spacing: 50px;

$border: solid 1px $black;
$s-radius: 5px;
$m-radius: 10px;
$l-radius: 20px;

$transition: .5s ease;

@mixin centering-item() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin circle($diameter) {
  border-radius: 50%;
  width: $diameter;
  height: $diameter;
}

@mixin static-container {
  padding: $m-spacing;
  width: 66.66666%;  
}

.hidden {
  display: none !important;
}

.center-item {
  @include centering-item();
}

@mixin appzindex($type) {
  @if $type == "small" {
    z-index: 1;
  } @else if $type == "medium" {
    z-index: 2;
  } @else if $type == "large" {
    z-index: 3;
  } @else if $type == "max" {
    z-index: 9999;
  }
}
