@import "./mixins.scss";

$grey: #999999;
$black: #555555;
$jetblack: #000000;
$lightblue: #597ef7;
$blue: #1d39c4;
$white: #fff;
$lightred: #ff4d4f;
$red: #cf1322;

$xs-spacing: 5px;
$s-spacing: 10px;
$m-spacing: 20px;
$l-spacing: 30px;
$xl-spacing: 50px;

$border: solid 1px $black;
$s-radius: 5px;
$m-radius: 10px;
$l-radius: 20px;

$transition: .5s ease;

.hidden {
  display: none !important;
}

.center-item {
  @include centering-item();
}
