@import "./StarRating.scss";
@import "./About.scss";

@keyframes slideInFromBottomLanding {
  0% {
    transform: translateY(1000%) skewY(-12deg);
  }
  100% {
    transform: translateY(0) skewY(-12deg);
  }
}

@keyframes slideOut {
  from {
    width: $navbar-width;
  }
  to {
    width: 50px;
  }
}

@keyframes slideIn {
  from {
    width: 50px;
  }
  to {
    width: $navbar-width;
  }
}

@keyframes slideOutContent {
  from {
    padding-left: $navbar-width
  }
  to {
    padding-left: 65px;
  }
}

@keyframes slideInContent {
  from {
    padding-left: 70px;
  }
  to {
    padding-left: $navbar-width;
  }
}

@keyframes animateVisibility {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes animateHeightIn {
  from {
    max-height: 60px;
  }
  to {
    max-height: 70vh;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(120%)
  }
  to {
    transform: translateX(0)
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(120%)
  }
  to {
    transform: translateY(0)
  }
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}