@keyframes computerButton0 {
  to {
    bottom: 25%;
    right: 45%;
  }
}

@keyframes computerButton1 {
  to {
    bottom: 30%;
    left: 55%;
  }
}

@keyframes computerButton2 {
  to {
    top: 30%;
    right: 50%;
  }
}

@keyframes computerButton3 {
  to {
    top: 25%;
    left: 50%;
  }
}